<head>
  <meta charset="UTF-8">
  <title>{{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <link rel="stylesheet" href="{% link css/normalize.css %}">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{% link css/cayman.css %}">
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="{% link apple-touch-icon.png %}">
  <link rel="icon" type="image/png" href="{% link favicon-32x32.png %}" sizes="32x32">
  <link rel="icon" type="image/png" href="{% link favicon-16x16.png %}" sizes="16x16">
  <link rel="manifest" href="{% link manifest.json %}">
  <meta name="theme-color" content="#ffffff">
</head>